.login-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  /* #ifdef H5 */
  background-image: url("./../../static/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* #endif */
  /* #ifdef APP-PLUS || MP-WEIXIN */
  .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  /* #endif */
  .content {
    width: 100%;
    box-sizing: border-box;
    padding: 100rpx 60rpx;
    .login-title {
      display: block;
      font-size: 68rpx;
      font-weight: 900;
      letter-spacing: 1.21rpx;
      color: #fff;
      text-align: left;
      margin-bottom: 114rpx;
    }
    .form-container {
      // 小程序 APP 输入框占位符的字体样式,特殊处理
      // #ifdef MP-WEIXIN
      ::v-deep .input-placeholder {
        color: #fff;
        font-size: 30rpx;
        font-weight: 400;
        letter-spacing: -0.82rpx;
        line-height: normal;
      }
      ::v-deep .u-input__content__field-wrapper__field {
        height: 88rpx;
      }
      // #endif
      // 密码框小眼睛样式
      ::v-deep .u-icon__icon {
        font-size: 30rpx !important;
      }
      // 处理按钮加载图标和文字的样式
      ::v-deep .u-button__loading-text {
        font-size: 30rpx !important;
        font-weight: 900 !important;
        letter-spacing: -0.72rpx !important;
      }
      // 处理H5端加载中文字的加粗效果
      // #ifdef H5
      ::v-deep .u-button__loading-text span {
        font-weight: 900;
      }
      // #endif
      ::v-deep .u-loading-icon__spinner {
        width: 30rpx !important;
        height: 30rpx !important;
      }
      // 处理表单错误提示文字样式
      ::v-deep .u-form-item__body__right__message {
        font-size: 20rpx;
        line-height: 1.2;
        margin-left: 30rpx !important;
      }
      .agree {
        padding-left: 20rpx;
        display: flex;
        align-items: center;
        .text {
          font-size: 24rpx;
          color: #fff;
          .agree-name {
            font-weight: 700;
            display: inline;
            color: #2878ff;
          }
        }
      }
      .bottom-tip {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20rpx;
        font-size: 24rpx;
        color: #fff;
        margin-top: 20rpx;
        .tip {
          font-weight: 600;
          display: flex;
          align-items: center;
          .iconfont {
            margin-left: 8rpx;
          }
        }
      }
    }
  }
  .modal-content {
    font-size: 26rpx;
    .protocol {
      color: #2878ff;
      font-weight: 900;
    }
  }
}
